body {
    background-color: rgb(67, 67, 67);
}

.top {
    padding: 2vh;
    text-align: center;
    font-family: mojangles;
    color: white;
    font-size: 1.7vw;
    line-height: 2vw;
}

.book {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
.book-png {
    width: 50vw;
    height: auto;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.book-container {
    position: relative;    
    align-items: center;
    text-align: center;
    justify-content: center;
}
.exit {
    text-decoration: none;
    position: absolute;
    top: 7%;
    left: 72%;
    font-size: 2vw;
    transform: translate(-50%, -50%);
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.nav-r {
    top: 42%;
    right: 20%;
    position: absolute;
    width: 4vw;
    height: auto;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nav-l {
    top: 42%;
    left: 20%;
    position: absolute;
    width: 4vw;
    height: auto;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.text-n {
    font-family: mojangles;
    font-size: 1.3vw;
    text-rendering: geometricPrecision;
    text-align: left;
    line-height: 1.67vw;
}
.text {
    font-family: mojangles;
    font-size: 1.3vw;
    text-rendering: geometricPrecision;
    text-align: left;
    line-height: 1.67vw;
}
.text-special {
    text-align: center;
}

.page1 {
    position: absolute;
    top: 10%;
    left: 27.5%;
    text-align: center;
    justify-content: center;
}
.page2 {
    position: absolute;
    top: 10%;
    left: 52%;
    text-align: left;
    justify-content: center;
}

.hidden {
    color: rgba(0, 0, 0, 0);
    user-select: none;
}
.one {
    color: rgb(0, 0, 170);
}
.two {
    color: rgb(0, 170, 0);
}
.three {
    color: rgb(0, 170, 170);
}
.four {
    color: rgb(170, 0, 0);
}
.five {
    color: rgb(207, 0, 207);
}

.six {
    color: rgb(255, 170, 0);
}
.seven {
    color: rgb(168, 168, 168);
}
.eight {
    color: rgb(84, 84, 84);
}
.nine {
    color: rgb(84, 84, 255);
}
.n {
    color: rgb(180, 104, 77);
}
.t {
    color: rgb(32, 72, 122);
}
.m {
    color: rgb(150, 21, 6);
}
.bold {
    font-family: mojangles-b;
    font-size: 0.7vw;
    text-rendering: geometricPrecision;
    line-height: 0;
}
.bold-special {
    font-family: mojangles-b;
    font-size: 2vw;
    text-rendering: geometricPrecision;
    line-height: 0;
}
.bold-medium {
    font-family: mojangles-b;
    font-size: 1.2vw;
    text-rendering: geometricPrecision;
    line-height: 3vh;
}
.bold-medium-s {
    font-family: mojangles-b;
    font-size: 1.4vw;
    text-rendering: geometricPrecision;
    line-height: 0vh;
}


.content {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    padding-left: 8vw;
    padding-right: 8vw;
    user-select: none;
    text-align: center;
    justify-content: center;
}
.button {
    display: inline;
    width: 10vw;
    height: auto;
    user-select: none;
    text-decoration: none;
    padding: 2vw;
}
.button-png {
    display: inline;
    width: 20vw;
    height: auto;
    user-select: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
.tooltip-png {
    display: inline;
    width: 19.7vw;
    height: auto;
    user-select: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    position: absolute;
    left: 12%;
    top: 19%;
}
.info-png {
    display: inline;
    width: 2vw;
    height: auto;
    user-select: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
.tooltip-png2 {
    display: inline;
    width: 19.7vw;
    height: auto;
    user-select: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    position: absolute;
    left: 39%;
    top: 18.7%;
}
.tooltip-png3 {
    display: inline;
    width: 19.7vw;
    height: auto;
    user-select: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    position: absolute;
    left: 65.5%;
    top: 18.7%;
}